
$headerHeight: 4rem
$widthBreak: 1050px

@mixin button
  display: block
  background-color: #6abe30
  border: 2px solid
  border-top-color: #99e550
  border-left-color: #99e550
  border-right-color: #37946e
  border-bottom-color: #37946e
  color: #ffffff
  font-family: inherit
  font-size: inherit
  cursor: pointer

  &:hover
    background-color: #639bff
    border-top-color: #5b6ee1
    border-left-color: #5b6ee1
    border-right-color: #5fcde4
    border-bottom-color: #5fcde4

*
  margin: 0
  padding: 0
  box-sizing: border-box

a
  color: inherit
  text-decoration: none

*
  xbackground-color: rgba(0, 0, 0, 0.1)

*:root
  font-size: 13pt
  font-family: 'Share Tech', sans-serif

body
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  overflow-y: hidden

#main
  height: 100%
  display: flex
  flex-direction: column

  > header
    min-height: $headerHeight
    max-height: $headerHeight
    display: flex
    align-items: center
    background-color: rgba(0, 0, 0, 0.8)
    position: relative
    z-index: 50

    > strong
      flex-grow: 1
      color: white

      a
        display: inline-block
        font-size: 0
        padding: 0 2rem
        @media screen and (max-width: $widthBreak)
          padding: 0 1rem
        
        > *
          font-size: 2.3rem
          @media screen and (max-width: $widthBreak)
            font-size: 1.8rem
            line-height: 0.8

        > span
          display: inline-block
          position: relative
          &:first-child
            margin-right: 1rem

        .hover, .nothover
          transition: opacity 200ms

        .hover
          position: absolute
          top: 0
          bottom: 0
          left: 0

        &:not(:hover) .hover
          opacity: 0

        &:hover .nothover
          opacity: 0

    .neon
      font-family: 'Permanent Marker', cursive
      text-transform: uppercase
      background: linear-gradient(to bottom, #AC3232 20%, #D95763 30%, #FBF236 90%)
      -webkit-background-clip: text
      background-clip: text
      color: transparent
      
    .inox
      font-family: 'Righteous', sans-serif
      text-transform: uppercase
      background: linear-gradient(182deg, #639BFF 10%, #FFFFFF 49.9%, #9BADB7 50%, #CBDBFC 90%)
      background-size: 1rem 100%
      -webkit-background-clip: text
      background-clip: text
      color: transparent

    nav
      color: #639BFF
      flex-shrink: 0

      @media screen and (max-width: $widthBreak)
        width: $headerHeight
        height: $headerHeight
        order: -1
        background-image: url(/assets/img/th-menu.svg)
        background-position: center center
        background-repeat: no-repeat
        background-size: 2.5rem 2.5rem
        cursor: pointer

        &:hover
          background-color: #76428A
          background-image: url(/assets/img/th-menu-white.svg)

        &:not(.open) ul
          display: none
      
      ul
        font-size: 0

        li
          font-size: 1rem
          display: inline-block
          list-style-type: none

          a
            display: block
            height: 100%
            padding: 1rem 2rem 0.8rem
            font-size: 1.4rem

            &:hover
              background-color: #76428A
              color: white

          &:not(:first-child) a
            margin-left: 0.5rem

      
      @media screen and (max-width: $widthBreak)
        ul
          cursor: default
          z-index: 100
          position: fixed
          top: $headerHeight
          left: 0
          right: 0
          bottom: 0
          background-color: rgba(0, 0, 0, 0.8)
          display: flex
          flex-direction: column
          justify-content: center
          
          li
            display: flex-item
            text-align: center

            a
              display: inline-block
              padding: 1rem 2rem

  > #page
    flex-grow: 1

#page
  margin-top: -$headerHeight
  height: calc(100% - #{$headerHeight})

  > *
    padding-top: $headerHeight
    height: 100%
    overflow-y: auto

  #loading
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0

#loading
  background-color: black
  color: white
  
  &::before
    content: ''
    position: absolute
    top: calc(50% - 2.75rem)
    left: calc(50% - 3rem)
    width: 6rem
    height: 6rem
    border-radius: 50%
    animation: rotation 5000ms 0ms infinite linear, loadColor 3000ms 0ms forwards linear
    transform-origin: 3rem 2.75rem

  &::after
    content: ''
    color: #76428A
    position: absolute
    top: calc(50% - 2.5rem)
    left: calc(50% - 2.5rem)
    display: flex
    align-items: center
    justify-content: center
    width: 5rem
    height: 5rem
    background-color: black
    border-radius: 50%

@keyframes rotation
  from
    transform: rotate(0deg)
  to
    transform: rotate(360deg)

@keyframes loadColor
  from
    background-color: transparent
  to
    background-color: #222034

#home
  height: 100%
  margin-top: 0
  overflow-y: hidden

  #home_canvas
    height: 100%
    width: 100%

  #canvas_blend
    display: none
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    background: linear-gradient(to left, #AC3232, #76428A, #5B6EE1)
    background: #B800FF
    mix-blend-mode: multiply

#contact
  display: flex
  background: url('/assets/img/letters.png')
  background-size: 128px 128px
  animation: contactBg 6s 0s forwards linear infinite
  image-rendering: pixelated

  @keyframes contactBg
    from
      background-position: 0px 0px
    to
      background-position: 128px 128px

  #content
    margin: auto
    padding: 4rem
    background-color: rgba(255, 255, 255, 0.9)
    border: 2px solid #8f563b

    input[name='name']
      display: block
      border: 2px solid #663931
      width: 100%
      padding: 0.5rem 1rem
      margin-bottom: 1rem
      font-family: inherit
      font-size: inherit

    input[name='contact']
      display: block
      border: 2px solid #663931
      width: 100%
      padding: 0.5rem 1rem
      margin-bottom: 1rem
      font-family: inherit
      font-size: inherit

    textarea
      display: block
      border: 2px solid #663931
      width: 100%
      padding: 0.5rem 1rem
      margin-bottom: 1rem
      min-width: 50vw
      min-height: calc(100vh - 28rem - #{$headerHeight})
      resize: vertical
      font-family: inherit
      font-size: inherit

    button
      @include button
      margin: 0 auto
      padding: 1rem 2rem
  
  .intro
    margin-bottom: 1rem

    .reseaux
      margin-bottom: 1rem

      a img
        width: 64px
        height: 64px
        image-rendering: pixelated
        filter: drop-shadow(2px 2px 0px #200D19)

        &:hover
          filter: none
          position: relative
          top: 2px
          left: 2px

  .ifSent
    margin-top: 4rem;

  &:not(.sent) .ifSent
    display: none
    
  &.sent .ifNotSent
    display: none

#portfolio
  background-color: #76428A

  #content
    display: flex
    flex-direction: column
    min-height: 100%

    .portfolio-filler
      flex-grow: 1

  .portfolio-wrapper
    xdisplay: flex
    position: relative

    .portfolio-desc
      position: relative
      margin: 2rem 0 0
      z-index: 2

    .portfolio-img
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%

    .portfolio-button
      position: absolute
      top: 1rem
      left: 0
      right: 0
      bottom: 1rem

    .portfolio-award
      width: 69px
      height: 69px
      background-image: url('/assets/img/medal.png')
      z-index: 3
      position: absolute
      top: 1rem

  .portfolio-desc
    color: white
    background-color: rgba(76, 30, 97, 0.7)
    border-radius: 2px
    padding: 1rem
    min-height: 18rem

    a
      border-bottom: 2px solid #639BFF

  .portfolio-wrapper.portfolio-wrapper_moreDark
    .portfolio-desc
      background-color: rgba(76, 30, 97, 0.8)

  .portfolio-img
    object-fit: cover
    image-rendering: pixelated

  .portfolio-title
    font-size: 2rem

  .portfolio-subtitle
    margin-bottom: 0.5rem
    padding-left: 2rem

  .portfolio-button
    cursor: pointer

  .portfolio-wrapper.portfolio-wrapper_leftSided
    .portfolio-img
      object-position: right center

    .portfolio-desc
      margin-right: 33%
      clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 90% 50%, 100% 0%)
      clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 90% 0%)
      padding-right: 10%
      padding-left: 2rem

    .portfolio-award
      right: 40%

  .portfolio-wrapper.portfolio-wrapper_rightSided
    .portfolio-img
      object-position: left bottom

    .portfolio-desc
      margin-left: 33%
      clip-path: polygon(0% 0%, 10% 50%, 0% 100%, 100% 100%, 100% 0%)
      clip-path: polygon(10% 0%, 0% 100%, 100% 100%, 100% 0%)
      padding-left: 10%
      padding-right: 2rem

    .portfolio-award
      right: 1rem

#cv
  background-color: #5A545E
  overflow-y: hidden

  #content
    height: 100%
    width: 100%

    iframe
      height: 100%
      width: 100%
      border: none
    
#files
  background-color: #222034
  color: #5FCDE4
  overflow-y: hidden

  #content
    padding: 2rem
    display: flex
    height: 100%
    width: 100%

    #folderView
      margin: auto
      max-width: 66rem
      max-height: calc(100% - 4rem)
      

#folderView
  position: relative
  border: 2px solid
  background-color: rgba(95, 205, 228, 0.2)
  display: flex
  flex-direction: column

  header
    position: relative
    width: 100%
    border-bottom: 2px solid
    display: flex
    overflow: hidden
    flex-shrink: 0

    .folderView-backBtn
      width: 3rem
      border-right: 2px solid 
      background-image: url('/assets/img/backArrow.png')
      image-rendering: pixelated
      background-position: center center
      background-size: 32px 32px
      background-repeat: no-repeat

      &:hover
        background-color: rgba(95, 205, 228, 0.3)
        cursor: pointer
      
      &::before
        content: ''
        border-top: 2px solid
        width: 10%
        position: absolute
        top: calc(50% - 1px)
        left: 3rem

      &::after
        content: ''
        border-top: 2px solid
        width: 100rem
        position: absolute
        top: calc(50% - 1px)
        left: calc(10% + 3rem)
        transform: rotate(45deg)
        transform-origin: top left

    .folderView-path
      padding: 0.5rem 2rem
      flex-grow: 1
      text-align: center

    .decorBtn
      max-width: 10%
      white-space: nowrap

      .decorBtn-dot
        display: inline-block
        width: 1rem
        height: 1rem
        border-radius: 50%
        background-color: #5FCDE4
        margin-right: 1rem
        margin-top: 0.5rem

      &::before
        content: ''
        border-top: 2px solid
        width: 15%
        position: absolute
        top: calc(50% - 1px)
        right: 0

      &::after
        content: ''
        border-top: 2px solid
        width: 100rem
        position: absolute
        top: calc(50% - 1px)
        right: 15%
        transform: rotate(315deg)
        transform-origin: top right
      
  ol 
    list-style-type: none
    padding: 1rem
    display: flex
    flex-wrap: wrap
    justify-content: center
    overflow-y: scroll
    scrollbar-color: #5FCDE4 rgba(0, 0, 0, 0.3)
    
    li
      display: inline-block
      background-color: rgba(0, 0, 0, 0.3)
      margin: 1rem
      cursor: pointer

      a
        display: flex
        align-items: flex-end
        justify-content: center
        padding: 1rem
        min-height: 10rem
        min-width: 10rem
        background-position: center top 2rem
        background-size: 64px 64px
        image-rendering: pixelated
        background-repeat: no-repeat
        color: white

      &:hover
        background-color: rgba(95, 205, 228, 0.3)


  .folderView-folder
    background-image: url('/assets/img/folder.png')

    
  .folderView-file
    background-image: url('/assets/img/file.png')
    
