* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  xbackground-color: rgba(0, 0, 0, 0.1);
}

*:root {
  font-size: 13pt;
  font-family: 'Share Tech', sans-serif;
}

body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: hidden;
}

#main {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#main > header {
  min-height: 4rem;
  max-height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  position: relative;
  z-index: 50;
}

#main > header > strong {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  color: white;
}

#main > header > strong a {
  display: inline-block;
  font-size: 0;
  padding: 0 2rem;
}

@media screen and (max-width: 1050px) {
  #main > header > strong a {
    padding: 0 1rem;
  }
}

#main > header > strong a > * {
  font-size: 2.3rem;
}

@media screen and (max-width: 1050px) {
  #main > header > strong a > * {
    font-size: 1.8rem;
    line-height: 0.8;
  }
}

#main > header > strong a > span {
  display: inline-block;
  position: relative;
}

#main > header > strong a > span:first-child {
  margin-right: 1rem;
}

#main > header > strong a .hover, #main > header > strong a .nothover {
  -webkit-transition: opacity 200ms;
  transition: opacity 200ms;
}

#main > header > strong a .hover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}

#main > header > strong a:not(:hover) .hover {
  opacity: 0;
}

#main > header > strong a:hover .nothover {
  opacity: 0;
}

#main > header .neon {
  font-family: 'Permanent Marker', cursive;
  text-transform: uppercase;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #AC3232), color-stop(30%, #D95763), color-stop(90%, #FBF236));
  background: linear-gradient(to bottom, #AC3232 20%, #D95763 30%, #FBF236 90%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

#main > header .inox {
  font-family: 'Righteous', sans-serif;
  text-transform: uppercase;
  background: linear-gradient(182deg, #639BFF 10%, #FFFFFF 49.9%, #9BADB7 50%, #CBDBFC 90%);
  background-size: 1rem 100%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

#main > header nav {
  color: #639BFF;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

@media screen and (max-width: 1050px) {
  #main > header nav {
    width: 4rem;
    height: 4rem;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    background-image: url(/assets/img/th-menu.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 2.5rem 2.5rem;
    cursor: pointer;
  }
  #main > header nav:hover {
    background-color: #76428A;
    background-image: url(/assets/img/th-menu-white.svg);
  }
  #main > header nav:not(.open) ul {
    display: none;
  }
}

#main > header nav ul {
  font-size: 0;
}

#main > header nav ul li {
  font-size: 1rem;
  display: inline-block;
  list-style-type: none;
}

#main > header nav ul li a {
  display: block;
  height: 100%;
  padding: 1rem 2rem 0.8rem;
  font-size: 1.4rem;
}

#main > header nav ul li a:hover {
  background-color: #76428A;
  color: white;
}

#main > header nav ul li:not(:first-child) a {
  margin-left: 0.5rem;
}

@media screen and (max-width: 1050px) {
  #main > header nav ul {
    cursor: default;
    z-index: 100;
    position: fixed;
    top: 4rem;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #main > header nav ul li {
    display: flex-item;
    text-align: center;
  }
  #main > header nav ul li a {
    display: inline-block;
    padding: 1rem 2rem;
  }
}

#main > #page {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

#page {
  margin-top: -4rem;
  height: calc(100% - 4rem);
}

#page > * {
  padding-top: 4rem;
  height: 100%;
  overflow-y: auto;
}

#page #loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#loading {
  background-color: black;
  color: white;
}

#loading::before {
  content: '';
  position: absolute;
  top: calc(50% - 2.75rem);
  left: calc(50% - 3rem);
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  -webkit-animation: rotation 5000ms 0ms infinite linear, loadColor 3000ms 0ms forwards linear;
          animation: rotation 5000ms 0ms infinite linear, loadColor 3000ms 0ms forwards linear;
  -webkit-transform-origin: 3rem 2.75rem;
          transform-origin: 3rem 2.75rem;
}

#loading::after {
  content: '';
  color: #76428A;
  position: absolute;
  top: calc(50% - 2.5rem);
  left: calc(50% - 2.5rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 5rem;
  height: 5rem;
  background-color: black;
  border-radius: 50%;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes loadColor {
  from {
    background-color: transparent;
  }
  to {
    background-color: #222034;
  }
}

@keyframes loadColor {
  from {
    background-color: transparent;
  }
  to {
    background-color: #222034;
  }
}

#home {
  height: 100%;
  margin-top: 0;
  overflow-y: hidden;
}

#home #home_canvas {
  height: 100%;
  width: 100%;
}

#home #canvas_blend {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: -webkit-gradient(linear, right top, left top, from(#AC3232), color-stop(#76428A), to(#5B6EE1));
  background: linear-gradient(to left, #AC3232, #76428A, #5B6EE1);
  background: #B800FF;
  mix-blend-mode: multiply;
}

#contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: url("/assets/img/letters.png");
  background-size: 128px 128px;
  -webkit-animation: contactBg 6s 0s forwards linear infinite;
          animation: contactBg 6s 0s forwards linear infinite;
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -webkit-optimize-contrast;
      image-rendering: -moz-crisp-edges;
      image-rendering: -o-pixelated;
      image-rendering: pixelated;
}

@-webkit-keyframes contactBg {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: 128px 128px;
  }
}

@keyframes contactBg {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: 128px 128px;
  }
}

#contact #content {
  margin: auto;
  padding: 4rem;
  background-color: rgba(255, 255, 255, 0.9);
  border: 2px solid #8f563b;
}

#contact #content input[name='name'] {
  display: block;
  border: 2px solid #663931;
  width: 100%;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  font-family: inherit;
  font-size: inherit;
}

#contact #content input[name='contact'] {
  display: block;
  border: 2px solid #663931;
  width: 100%;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  font-family: inherit;
  font-size: inherit;
}

#contact #content textarea {
  display: block;
  border: 2px solid #663931;
  width: 100%;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  min-width: 50vw;
  min-height: calc(100vh - 28rem - 4rem);
  resize: vertical;
  font-family: inherit;
  font-size: inherit;
}

#contact #content button {
  display: block;
  background-color: #6abe30;
  border: 2px solid;
  border-top-color: #99e550;
  border-left-color: #99e550;
  border-right-color: #37946e;
  border-bottom-color: #37946e;
  color: #ffffff;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  margin: 0 auto;
  padding: 1rem 2rem;
}

#contact #content button:hover {
  background-color: #639bff;
  border-top-color: #5b6ee1;
  border-left-color: #5b6ee1;
  border-right-color: #5fcde4;
  border-bottom-color: #5fcde4;
}

#contact .intro {
  margin-bottom: 1rem;
}

#contact .intro .reseaux {
  margin-bottom: 1rem;
}

#contact .intro .reseaux a img {
  width: 64px;
  height: 64px;
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -webkit-optimize-contrast;
      image-rendering: -moz-crisp-edges;
      image-rendering: -o-pixelated;
      image-rendering: pixelated;
  -webkit-filter: drop-shadow(2px 2px 0px #200D19);
          filter: drop-shadow(2px 2px 0px #200D19);
}

#contact .intro .reseaux a img:hover {
  -webkit-filter: none;
          filter: none;
  position: relative;
  top: 2px;
  left: 2px;
}

#contact .ifSent {
  margin-top: 4rem;
}

#contact:not(.sent) .ifSent {
  display: none;
}

#contact.sent .ifNotSent {
  display: none;
}

#portfolio {
  background-color: #76428A;
}

#portfolio #content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

#portfolio #content .portfolio-filler {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

#portfolio .portfolio-wrapper {
  xdisplay: flex;
  position: relative;
}

#portfolio .portfolio-wrapper .portfolio-desc {
  position: relative;
  margin: 2rem 0 0;
  z-index: 2;
}

#portfolio .portfolio-wrapper .portfolio-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#portfolio .portfolio-wrapper .portfolio-button {
  position: absolute;
  top: 1rem;
  left: 0;
  right: 0;
  bottom: 1rem;
}

#portfolio .portfolio-wrapper .portfolio-award {
  width: 69px;
  height: 69px;
  background-image: url("/assets/img/medal.png");
  z-index: 3;
  position: absolute;
  top: 1rem;
}

#portfolio .portfolio-desc {
  color: white;
  background-color: rgba(76, 30, 97, 0.7);
  border-radius: 2px;
  padding: 1rem;
  min-height: 18rem;
}

#portfolio .portfolio-desc a {
  border-bottom: 2px solid #639BFF;
}

#portfolio .portfolio-wrapper.portfolio-wrapper_moreDark .portfolio-desc {
  background-color: rgba(76, 30, 97, 0.8);
}

#portfolio .portfolio-img {
  -o-object-fit: cover;
     object-fit: cover;
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -webkit-optimize-contrast;
      image-rendering: -moz-crisp-edges;
      image-rendering: -o-pixelated;
      image-rendering: pixelated;
}

#portfolio .portfolio-title {
  font-size: 2rem;
}

#portfolio .portfolio-subtitle {
  margin-bottom: 0.5rem;
  padding-left: 2rem;
}

#portfolio .portfolio-button {
  cursor: pointer;
}

#portfolio .portfolio-wrapper.portfolio-wrapper_leftSided .portfolio-img {
  -o-object-position: right center;
     object-position: right center;
}

#portfolio .portfolio-wrapper.portfolio-wrapper_leftSided .portfolio-desc {
  margin-right: 33%;
  -webkit-clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 90% 50%, 100% 0%);
          clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 90% 50%, 100% 0%);
  -webkit-clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 90% 0%);
          clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 90% 0%);
  padding-right: 10%;
  padding-left: 2rem;
}

#portfolio .portfolio-wrapper.portfolio-wrapper_leftSided .portfolio-award {
  right: 40%;
}

#portfolio .portfolio-wrapper.portfolio-wrapper_rightSided .portfolio-img {
  -o-object-position: left bottom;
     object-position: left bottom;
}

#portfolio .portfolio-wrapper.portfolio-wrapper_rightSided .portfolio-desc {
  margin-left: 33%;
  -webkit-clip-path: polygon(0% 0%, 10% 50%, 0% 100%, 100% 100%, 100% 0%);
          clip-path: polygon(0% 0%, 10% 50%, 0% 100%, 100% 100%, 100% 0%);
  -webkit-clip-path: polygon(10% 0%, 0% 100%, 100% 100%, 100% 0%);
          clip-path: polygon(10% 0%, 0% 100%, 100% 100%, 100% 0%);
  padding-left: 10%;
  padding-right: 2rem;
}

#portfolio .portfolio-wrapper.portfolio-wrapper_rightSided .portfolio-award {
  right: 1rem;
}

#cv {
  background-color: #5A545E;
  overflow-y: hidden;
}

#cv #content {
  height: 100%;
  width: 100%;
}

#cv #content iframe {
  height: 100%;
  width: 100%;
  border: none;
}

#files {
  background-color: #222034;
  color: #5FCDE4;
  overflow-y: hidden;
}

#files #content {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
}

#files #content #folderView {
  margin: auto;
  max-width: 66rem;
  max-height: calc(100% - 4rem);
}

#folderView {
  position: relative;
  border: 2px solid;
  background-color: rgba(95, 205, 228, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#folderView header {
  position: relative;
  width: 100%;
  border-bottom: 2px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

#folderView header .folderView-backBtn {
  width: 3rem;
  border-right: 2px solid;
  background-image: url("/assets/img/backArrow.png");
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -webkit-optimize-contrast;
      image-rendering: -moz-crisp-edges;
      image-rendering: -o-pixelated;
      image-rendering: pixelated;
  background-position: center center;
  background-size: 32px 32px;
  background-repeat: no-repeat;
}

#folderView header .folderView-backBtn:hover {
  background-color: rgba(95, 205, 228, 0.3);
  cursor: pointer;
}

#folderView header .folderView-backBtn::before {
  content: '';
  border-top: 2px solid;
  width: 10%;
  position: absolute;
  top: calc(50% - 1px);
  left: 3rem;
}

#folderView header .folderView-backBtn::after {
  content: '';
  border-top: 2px solid;
  width: 100rem;
  position: absolute;
  top: calc(50% - 1px);
  left: calc(10% + 3rem);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: top left;
          transform-origin: top left;
}

#folderView header .folderView-path {
  padding: 0.5rem 2rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
}

#folderView header .decorBtn {
  max-width: 10%;
  white-space: nowrap;
}

#folderView header .decorBtn .decorBtn-dot {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #5FCDE4;
  margin-right: 1rem;
  margin-top: 0.5rem;
}

#folderView header .decorBtn::before {
  content: '';
  border-top: 2px solid;
  width: 15%;
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
}

#folderView header .decorBtn::after {
  content: '';
  border-top: 2px solid;
  width: 100rem;
  position: absolute;
  top: calc(50% - 1px);
  right: 15%;
  -webkit-transform: rotate(315deg);
          transform: rotate(315deg);
  -webkit-transform-origin: top right;
          transform-origin: top right;
}

#folderView ol {
  list-style-type: none;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow-y: scroll;
  scrollbar-color: #5FCDE4 rgba(0, 0, 0, 0.3);
}

#folderView ol li {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.3);
  margin: 1rem;
  cursor: pointer;
}

#folderView ol li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
  min-height: 10rem;
  min-width: 10rem;
  background-position: center top 2rem;
  background-size: 64px 64px;
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -webkit-optimize-contrast;
      image-rendering: -moz-crisp-edges;
      image-rendering: -o-pixelated;
      image-rendering: pixelated;
  background-repeat: no-repeat;
  color: white;
}

#folderView ol li:hover {
  background-color: rgba(95, 205, 228, 0.3);
}

#folderView .folderView-folder {
  background-image: url("/assets/img/folder.png");
}

#folderView .folderView-file {
  background-image: url("/assets/img/file.png");
}
/*# sourceMappingURL=style.css.map */